<%= render "/alchemy/partial/header" %>
<div class="container">
  <div>
    <%= render_elements %>
  </div>

</div>
<div class="floatDiv">
  <div class="floatTitle">demo - Fixed</div>
  <div class="floatBody">
    <p>Hello world</p>
    <p>Hello world</p>
    <p>Hello world</p>
    <p>Hello world</p>
    <p>Hello world</p>
  </div>
</div>
